
// .slide {
//     user-select: none;
//     height: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     user-select: none;
//     color: white;
// }

.imageContainer {
  position: relative;
  width: 100%;
  height: 600px; /* adjust height */
  overflow: hidden;
}

.image {
    // width: 100%;
    // height: 100%;
    // display: block;
    // object-fit: cover;
    // object-position: top center;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content {
    text-align: start;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.4); /* transparent dark bg */
    padding: 40px 50px;
    border-radius: 12px;
}

.title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    @media screen and (width > 768px) {
        font-size: 75px;
        line-height: 90px;
    }
}

.link {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 60px 15px 60px;
    border: 2px solid RGBA(255, 255, 255, 1);
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    transition: background 0.3s ease, color 0.3s ease;

    // &:hover {
    //     background: RGBA(255, 255, 255, 1);
    //     color: RGBA(0, 0, 0, 1);
    // }

    @media screen and (width > 768px) {
        margin-top: 20px;
        font-size: 30px;
    }
}
