.root {
    margin-top: 90px;
    padding-bottom: 100px;
}


.cardList {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (width > 768px) {
        flex-direction: row;
    }
}


.infoCard {
    text-align: center;
    flex: 1 1 0;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #022169;
    margin-bottom: 30px;
}

.description {
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
}

.link {
    display: block;
    aspect-ratio: 4 / 3;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}