.root {
    margin-top: 40px;
    padding-bottom: 100px;
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (width > 768px) {
        flex-direction: row;
    }
}

.infoCard {
    text-align: center;
 //   flex: 1 1 0;
}

.title {
    font-size: 18px;
    font-weight: 700;
    color: #0e49d2;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: Degular Display, Arial, Helvetica, sans-serif;
    letter-spacing: .07em;
    line-height: 1.1;
    text-rendering: optimizespeed;
    text-align: left;
}

.description {
    font-size: 16px;
    // line-height: 28px;
    margin-top: 20px;
    color:#010813;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.5;
   text-align: left;
}

.link {
    display: block;
    //aspect-ratio: 4 / 3;
    color:#0b4cdb;
    font-family: Degular Display, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .07em;
    line-height: 1.1;
    text-rendering: optimizespeed;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}

.image {
    display: block;
    width: 100%;
    object-fit: cover;
    color:transparent;
    flex-grow: 0;
    border: 0 solid #cdd5d7;
    box-sizing: border-box;

  @media (min-width: 768px) {
        height: 260px;
    
}
}