<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<layoutService>
			<renderingContentsResolvers>
				<!-- Register your custom resolver -->
				<!-- The 'name' is how you'll refer to it in Sitecore rendering items -->
				<!-- The 'type' is the fully qualified name of your class and its assembly -->
				<register name="ItemAndChildrenResolverTestr"
						  type="XmCloudSXAStarter.RenderingContentResolvers.ItemAndChildrenResolverTest, XmCloudNextJsStarter" />
			</renderingContentsResolvers>
		</layoutService>
	</sitecore>
</configuration>